.item{
    width: 20rem;
}

.item .header{
    background-color: beige;
    border-radius: 1rem 1rem 0 0 ;
}


.item .footer{
    background-color: white;
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.145);
    border-radius: 0 0 1rem 1rem;
    margin-bottom: 1rem;
}
.item h4{
    color: white;
    font-size: 2rem;
    line-height: 2rem;
    font-weight: bold;
    padding: 1rem 0;
}


.item .footer h5{
    font-size: 2rem;
    line-height: 2rem;
    color: black ;
    padding: 1rem 1.5rem 1rem 1.5rem;
}